<div class = '.container'tyle = 'margin:0;'>
    <p style ='margin:0;display:inline;'>Alarms  </p>
    <img *ngIf= 'isMinified'alt = "down" src = "../../../../assets/up_arrow.svg" class="arrow" (click) = "changeView()"/>
    <img *ngIf= '!isMinified'alt = "up" src = "../../../../assets/down_arrow.svg"class="arrow" (click) = "changeView()"/>
    <div *ngIf = 'isMinified'style = 'margin:0;'>
        <ul>
            <li *ngFor= "let item of alarms" style="text-decoration: none;">
                {{item.time}}
                {{item.isActive}}
                <label class="switch">
                    <input [attr.checked]="item.isActive?'checked':null"type="checkbox"(click)='updateItem(item)'>
                    <span class="slider round"></span>
                </label> -->
                <img src = "../../../assets/deleteEventIcon.svg" class="delete" (click) = "deleteEvent(item)">
            </li>
        </ul>        
        <p style = 'display: inline; padding-right: 5px; padding-bottom: 5px;'>Add an alarm </p> <p style = 'display:inline-block;font-size: 24px;color:#06A1C4;margin:0;' class="plus" (click)="changeAdding()"> +</p>
        <form *ngIf='currentAdding' [formGroup]="alarmy" (ngSubmit)="onSubmit(alarmy.value)">            
            <input  type = 'text' class='inputs' formControlName="alarm" placeholder="Enter time in HH:MM AM/PM">
            <button type="submit" class="button">Add Alarm</button>
            <span style='color:red;font-size: 10px;display:block;'>{{message}}</span>
        </form>
    </div>    
    <div *ngIf='playing&&!paused'>
            <span (click)='pauseAlarm()'>Dismiss Alarm</span>
    </div>
</div>
