/* The switch - the box around the slider */
$blue-bright: #06A1C4; 
$blue-bright-opacity: rgba(6,161,196, .1); 
$blue: #176F98; 
$blue-opacity: rgba(23,111,152, .1);
$red: #D14E60;
$red-opacity: rgba(209,78,96, .1);
$dirty-purple: #8D546E;
$dirty-purple-opacity: rgba(141,84,110, .1);
$brown-orange: #4E1F19;
$brown-orange-opacity: rgba(78,31,25, .1);
.container{
  font-size:64px;
}
.arrow:hover{
  cursor: pointer;
}
.plus{
  cursor: pointer;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $red;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(10px);
  }
  .delete {
    max-width: 20px;
    max-height: 20px;
    padding-left: 20px;
    filter: invert(64%) sepia(67%) saturate(5406%) hue-rotate(320deg) brightness(85%) contrast(90%);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .inputs{
    box-sizing: border-box;
    font-size: 1em;
    display:block;
    background-color: $dirty-purple-opacity;
    color: #fff;
    border: none;
    border-bottom: .15em solid $dirty-purple;
    margin-bottom: 1em;
    padding: .5em;
    width: 100%;
    max-width: 100%;
  }
  .button{
    font-size: 1em;
    background-color: $red;
    color: $brown-orange;
    border: none;
    padding: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
    text-decoration: none;
    margin-left: 40%;

  }