<div class = "background">
        <div class = "sub-nav-bar">
                <p class="tabbutton" (click)="changeVal(1)">Calendar</p>
                <p class="tabbutton" (click)="changeVal(2)">Details</p>
                <p class="tabbutton" (click)="changeVal(3)">Add</p>
                <p class="tabbutton" (click)="changeVal(4)">Update</p>
                <p class="tabbutton" (click)="changeVal(5)">Delete</p>
        </div>
    <div *ngIf = 'switchVal === 1'>
        <app-calendar (onCalendarClick)="setInfo($event)"></app-calendar>
    </div>
    <div *ngIf = 'switchVal === 2'>
        
        details
    </div>
    <div *ngIf = 'switchVal === 3'>
        <app-add-events></app-add-events>
    </div>
    <div *ngIf = 'switchVal === 4'>
        <app-update-events></app-update-events>        
    </div>
    <div *ngIf = 'switchVal === 5'>
        <!-- <app-delete-events></app-delete-events> -->
        List Of Events to Delete        
    </div>
</div>
