<div class = "clock">
    <div class = "clock2">    
        <h1>
            <span *ngIf = "!military">{{hours}}:</span>
            <span *ngIf = "military">{{militaryHours}}:</span>
            <span>{{minutes}}:</span>
            <span>{{seconds}}</span>
            <span *ngIf ="!military" class = "smoller"> {{extension}}</span>
        </h1>
    </div>
    <div class = "options-group">
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="updateShow('clock')">settings_applications</mat-icon>
        <div *ngIf="showClockOptions">
            <span style="display:block" (click) = "clockChoice('military')">Military Time</span>
            <span style="display:block" (click) = "clockChoice('')">Standard Time</span>
        </div>
    </div>
    
</div>

    