<div style="position: absolute; top: 0px; right: 0px; height: 720px; width: 720px;">
    <p *ngIf="weather.length == 0">Searching...</p>
    <div *ngFor="let forecast of weather">
        <img src="{{weatherIcon}}">
        <div style="position: absolute; top: 0px; right: 10px;">
            <h1 style="text-align: right;">{{forecast.city}}, {{forecast.state}}</h1>
            <div *ngIf="temperatureOption == 'celsius'"style="font-size: 32px; display: inline;">{{(forecast.temperature * 1).toFixed(1)}}C°</div>
            <div *ngIf="temperatureOption == 'fahrenheit'"style="font-size: 32px; display: inline;">{{(forecast.temperature * (9/5) + 32).toFixed(1)}}F°</div>
            <div class = "options-group">
                <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="updateShow('temperature')">settings_applications</mat-icon>
                <div *ngIf="showTemperatureOptions">
                    <span style="display:block" (click) = "temperatureChoice('celsius')">Celsius</span>
                    <span style="display:block" (click) = "temperatureChoice('fahrenheit')">Fahrenheit</span>
                </div>
            </div>
            <p style="position: absolute; top: 80px; right: 0px;">{{forecast.description}}</p>
        </div>
    </div>
</div>