.options-group:hover{
    cursor:pointer;
}
.options-group{
    display: inline;
}
.weather-info{
    background-image: url( "../../../assets/img/Cloudy.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}