<p>Latitude: {{lat}}</p>
<p>Longitude: {{lng}}</p>

<div style="background-color: rgba(141,84,110, .1); width: 75%; padding: 20px; border: 1px solid #8D546E; margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <p *ngIf="weather.length == 0">Searching...</p>
    <div *ngIf="weather.length > 0">
        <table style="width: 100%; text-align: center">
            <thead></thead>
            <tbody>
                <tr>
                    <td *ngFor="let forecast of weather">
                        <img [src]="forecast.iconLink" />
                        <p>{{ forecast.highTemperature }}C / {{ forecast.highTemperature | fahrenheit }}F</p>
                        <p>{{ forecast.utcTime | moment }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>