.home{
    height: 1920px;
    width: 1080px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 10% 5% 65% 20%;

    .clock{
        grid-column: 1;
        grid-row:1;
    }
    .weather{
        background-image: url( "../../../assets/img/Cloudy.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        grid-column: 3;
        grid-row: 1;
    }
    .logout{
        grid-column: 1;
        grid-row:2;
    }
    .auth{
        left: 0;
        top: 0;
        grid-column: 1;
        grid-row:4;
    }
    .event{
        grid-column: 3;
        grid-row: 4;
    }
    .alarm{
        grid-row:1;
        grid-column: 1;
    }
}