    
    <img *ngIf= '!isMonth'alt = "down" src = "../../../assets/up_arrow.svg"class="updown"(click) = "changeView()"/>
    <img *ngIf= 'isMonth'alt = "up" src = "../../../assets/down_arrow.svg"class="updown"(click) = "changeView()"/>
    
    <div *ngIf = "!isMonth">
        <ul>
            <li *ngFor="let item of viewArray;" (click) = "clickEvent(item)" [ngClass] = "{'highlighted':item.isEvents,'specialborder':item.isToday}">
                        {{item.dayOf}}
            </li>
        </ul>
    </div>
    
    <div *ngIf = "isMonth">
        
        <ul>
            <p>{{displayMonth}}</p>
            <li *ngFor="let item of viewArray[0];" (click) = "clickEvent(item)" [ngClass] = "{'highlighted':item.isEvents,'specialborder':item.isToday}">
                    {{item.dayOf}}               
            </li>
        </ul>
        <ul>
            <li *ngFor="let item of viewArray[1];" (click) = "clickEvent(item)" [ngClass] = "{'highlighted':item.isEvents,'specialborder':item.isToday}">
                    {{item.dayOf}}
            </li>
        </ul>
        <ul>
            <li *ngFor="let item of viewArray[2];" (click) = "clickEvent(item)" [ngClass] = "{'highlighted':item.isEvents,'specialborder':item.isToday}">

                    {{item.dayOf}}
                
            </li>
        </ul>
        <ul>
            <li *ngFor="let item of viewArray[3];" (click) = "clickEvent(item)" [ngClass] = "{'highlighted':item.isEvents,'specialborder':item.isToday}">
                    {{item.dayOf}}

            </li>
        </ul>
        <ul>
            <li *ngFor="let item of viewArray[4];" (click) = "clickEvent(item)" [ngClass] = "{'highlighted':item.isEvents,'specialborder':item.isToday}">
                    {{item.dayOf}}


            </li>
        </ul>

    </div>