  <div class="container">
   <form [formGroup]="events" (ngSubmit)="onSubmit(events.value)">
    <input  formControlName= "summary" class ="inputs" placeholder = "Title">
  
    <input formControlName="dateTime"  class ="inputs" placeholder="11:11 AM">

    <input formControlName="date"  class ="inputs" placeholder = "MM/DD/YYYY">

    <input formControlName="description" class ="inputs" placeholder = "Add a description">

    <button type="button"routerLink="/home" (click)="onCancel()" class="button">Cancel</button>

    <button type="submit" class="button">Submit</button>
    
    <span style = "text-align: center;margin-left: 27%; margin-right: 27%; color:red;font-size: .5em">{{message}}</span>
    
   </form>
  </div>