.overlay{
    padding-top:20%;
    position: absolute;
    top:0px;
    left: 0px;
    background: black;
    color: white;
    text-align: center;
    font-family: 'Margarine', cursive;
    // font-family: 'Anonymous Pro', monospace;
    // font-family: 'Baloo Tammudu', cursive;
    // font-family: 'Nunito Sans', sans-serif;
    font-size: 3em;
    width: 100%;
    height: 100%;
}
.overlay>h1{
    vertical-align: center;
    font-size: 2em;
    // padding: 40% 40% 10%;
    margin: 0;
}