.overlay{
    padding-top:78%;
    position: absolute;
    top:0px;
    left: 0px;
    background: black;
    color: white;
    text-align: center;
    // font-family: 'Libre Franklin', sans-serif;
    // font-family: 'Anonymous Pro', monospace;
    // font-family: 'Baloo Tammudu', cursive;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3em;
    width: 1080px;
    height: 1920px;
}
.overlay>h2{
    font-size: 1.25em;
}
.overlay>h1{
    vertical-align: center;
    // padding: 40% 40% 10%;
    margin: 0;
}