<a routerLink="/home" routerLinkActive="active">Goto Home</a>
<div class="container">
<h3 class="title">Create Account</h3>
<div>
        <input class="inputs" [(ngModel)]="DTO.username" placeholder="Username"/>
        <input class="inputs" [(ngModel)]="DTO.email" placeholder="Email"/>
        <input class="inputs" [(ngModel)]="DTO.password" type = 'password' placeholder="Password"/>
        <input class="inputs" [(ngModel)]="DTO.confirmPassword" type = 'password' placeholder="Confirm Password"/>
</div>
<span style = "text-align: center; color:red;font-size: .5em;display: block;">{{message}}</span>
<a class="text-link" routerLink="/login">Login</a>
<button class="button" (click)="submit()">Register</button>
</div>